body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: 'Bricolage Grotesque' sans-serif;
}

.material-icons-outlined{
  vertical-align: middle;
  line-height: 1px;
}


.grid-container{
  display: grid;
  grid-template-columns: 200px  1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
  "sidebar header header"
  "sidebar main main";
  height: 100vh;
}


/*-----------HEADER------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.font-weight-b
.grid-container {
  grid-template-columns: 260px  1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}


/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  width:  85,2vw;
  height: 50px;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  margin-left: -10px;
  gap: 700px;
  justify-content: space-around;
  box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.2);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 15px;
  font-weight: bold;
}

.menu-icon {
  display: none;
}

.header-right{
  margin-top: 15px;
}

.main-title > a{
  margin-top: 15px;
  margin-left: 20px;
}

.main-title > span{
  margin-top: 24px;

}


/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  width: 15vw;
  height: 100%;
  background-color:  #fd841f;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.logo {
  width: 150px;

}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar-responsive {
  display: inline ;
  position: absolute;
  z-index: 12 ;
}


/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}


.container-letra{
  display: flex;
  gap: 600px;
  margin-left: 100px;
  color: black;
  margin-top: 20px;
}




/*------------CRUD FORM-------------*/
.container-crud {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background: rgb(245, 245, 245);
  margin-top: 50px;
  margin-left: 50px;
}

.header-crud {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
  margin-left: 40px;
}

.header-crud span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #002347;
}

.divTable {
  padding: 10px;
  width: 900px; 
  height:inherit; 
  overflow:auto;
  margin-left: 26px;
  border-radius: 10px;
  background-color: #ffffff;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(216, 216, 216); 
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 7px -4px rgb(0, 0, 0, 0.2);
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

thead tr th.acao1 {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

tbody tr td.acao1 {
  text-align: center;
}

td.acao button {
  background-color: red;
  width: 30px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 2px 1px;
}

td.acao1 button {
  background-color: rgb(0, 30, 255);
  width: 30px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 2px 1px;
}

td.acao img{
  width: 20px;
}

td.acao1 img{
  width: 20px;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header-crud span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#002347;
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px; 
  width: 100%;
  border: none;
  background-color: #002347;
  color: white;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}



/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}